<a href="https://colab.research.google.com/github/Stella-kimani/Stella/blob/master/SQL_Notebook_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## SQL Notebook

**Objective**

Identify the states that should be prioritized to win the  US general election.

**Dataset Provided**


1.   Population By State.(http://bit.ly/population_by_state)
2.   Grand Electors by State. (http://bit.ly/GrandElectors_by_State)

**Main steps to be followed in order to achieve the objective**


*   Load the dataset into SQLite
*   Clean the data

*   Merge the two data sets 
*   Calculate the ratio between grand electors and poulation. Order the ratio in descending order

*   Obtain the running sum of the grand electors in descending order of the ratio
*   Pick the list of states that have a running sum of 269 +1 grand elctors

### Loading Sql Extention

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

### Loading the Libraries and creating a Pandas Dataframe

In [ ]:
import pandas as pd

# Loading our Grand electors dataset
# 
grand_electors = pd.read_csv('http://bit.ly/GrandElectors_by_State',index_col=0)

# Loading our Population by State dataset 

population_by_state = pd.read_csv('http://bit.ly/population_by_state',index_col=0)

### Saving the Pandas Dataframe into SQL tables

In [ ]:
# Saving Grand electors dataframe into a database
%sql DROP TABLE if EXISTS grand_electors;
%sql PERSIST grand_electors;

%sql SELECT * FROM grand_electors;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('Alabama', 9),
 ('Alaska', 3),
 ('Arizona', 11),
 ('Arkansas', 6),
 ('California', 55),
 ('Colorado', 9),
 ('Connecticut', 7),
 ('District of Columbia', 3),
 ('Delaware', 3),
 ('Florida', 29),
 ('Georgia', 16),
 ('Hawaii', 4),
 ('Idaho', 4),
 ('Illinois', 20),
 ('Indiana', 11),
 ('Iowa', 6),
 ('Kansas', 6),
 ('Kentucky', 8),
 ('Louisiana', 8),
 ('Maine', 4),
 ('Maryland', 10),
 ('Massachusetts', 11),
 ('Michigan', 16),
 ('Minnesota', 10),
 ('Mississippi', 6),
 ('Missouri', 10),
 ('Montana', 3),
 ('Nebraska', 5),
 ('Nevada', 6),
 ('New Hampshire', 4),
 ('New Jersey', 14),
 ('New Mexico', 5),
 ('New York', 29),
 ('North Carolina', 15),
 ('North Dakota', 3),
 ('Ohio', 18),
 ('Oklahoma', 7),
 ('Oregon', 7),
 ('Pennsylvania', 20),
 ('Rhode Island', 4),
 ('South Carolina', 9),
 ('South Dakota', 3),
 ('Tennessee', 11),
 ('Texas', 38),
 ('Utah', 6),
 ('Vermont', 3),
 ('Virginia', 13),
 ('Washington', 12),
 ('West Virginia', 5),
 ('Wisconsin', 10),
 ('Wyoming', 3)]

In [ ]:
#Saving Population by state dataframe into a database 
%sql DROP TABLE if EXISTS population_by_state;
%sql PERSIST population_by_state;

%sql SELECT * FROM population_by_state;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[('CALIFORNIA', 39144818),
 ('TEXAS', 27469114),
 ('FLORIDA', 20271272),
 ('NEW YORK', 19795791),
 ('ILLINOIS', 12859995),
 ('PENNSYLVANIA', 12802503),
 ('OHIO', 11613423),
 ('GEORGIA', 10214860),
 ('NORTH CAROLINA', 10042802),
 ('MICHIGAN', 9922576),
 ('NEW JERSEY', 8958013),
 ('VIRGINIA', 8382993),
 ('WASHINGTON', 7170351),
 ('ARIZONA', 6828065),
 ('MASSACHUSETTS', 6794422),
 ('INDIANA', 6619680),
 ('TENNESSEE', 6600299),
 ('MISSOURI', 6083672),
 ('MARYLAND', 6006401),
 ('WISCONSIN', 5771337),
 ('MINNESOTA', 5489594),
 ('COLORADO', 5456574),
 ('SOUTH CAROLINA', 4896146),
 ('ALABAMA', 4858979),
 ('LOUISIANA', 4670724),
 ('KENTUCKY', 4425092),
 ('OREGON', 4028977),
 ('OKLAHOMA', 3911338),
 ('CONNECTICUT', 3590886),
 ('PUERTO RICO', 3474182),
 ('IOWA', 3123899),
 ('UTAH', 2995919),
 ('MISSISSIPPI', 2992333),
 ('ARKANSAS', 2978204),
 ('KANSAS', 2911641),
 ('NEVADA', 2890845),
 ('NEW MEXICO', 2085109),
 ('NEBRASKA', 1896190),
 ('WEST VIRGINIA', 1844128),
 ('IDAHO', 1654930),
 ('HAWAII', 1431603),
 ('NEW HAMPSHIRE', 1330608),
 ('MAINE', 1329328),
 ('RHODE ISLAND', 1056298),
 ('MONTANA', 1032949),
 ('DELAWARE', 945934),
 ('SOUTH DAKOTA', 858469),
 ('NORTH DAKOTA', 756927),
 ('ALASKA', 738432),
 ('DISTRICT OF COLUMBIA', 672228),
 ('VERMONT', 626042),
 ('WYOMING', 586107),
 ('GUAM', 161785),
 ('U.S. VIRGIN ISLANDS', 103574),
 ('AMERICAN SAMOA', 54343),
 ('NORTHERN MARIANA ISLANDS', 52344)]

### Data Cleaning

In [ ]:
# Convert all the State values to uppercsae for grand electors database
%sql UPDATE grand_electors set State = upper(State)

%sql SELECT * FROM grand_electors;

 * sqlite://
51 rows affected.
 * sqlite://
Done.

[('ALABAMA', 9),
 ('ALASKA', 3),
 ('ARIZONA', 11),
 ('ARKANSAS', 6),
 ('CALIFORNIA', 55),
 ('COLORADO', 9),
 ('CONNECTICUT', 7),
 ('DISTRICT OF COLUMBIA', 3),
 ('DELAWARE', 3),
 ('FLORIDA', 29),
 ('GEORGIA', 16),
 ('HAWAII', 4),
 ('IDAHO', 4),
 ('ILLINOIS', 20),
 ('INDIANA', 11),
 ('IOWA', 6),
 ('KANSAS', 6),
 ('KENTUCKY', 8),
 ('LOUISIANA', 8),
 ('MAINE', 4),
 ('MARYLAND', 10),
 ('MASSACHUSETTS', 11),
 ('MICHIGAN', 16),
 ('MINNESOTA', 10),
 ('MISSISSIPPI', 6),
 ('MISSOURI', 10),
 ('MONTANA', 3),
 ('NEBRASKA', 5),
 ('NEVADA', 6),
 ('NEW HAMPSHIRE', 4),
 ('NEW JERSEY', 14),
 ('NEW MEXICO', 5),
 ('NEW YORK', 29),
 ('NORTH CAROLINA', 15),
 ('NORTH DAKOTA', 3),
 ('OHIO', 18),
 ('OKLAHOMA', 7),
 ('OREGON', 7),
 ('PENNSYLVANIA', 20),
 ('RHODE ISLAND', 4),
 ('SOUTH CAROLINA', 9),
 ('SOUTH DAKOTA', 3),
 ('TENNESSEE', 11),
 ('TEXAS', 38),
 ('UTAH', 6),
 ('VERMONT', 3),
 ('VIRGINIA', 13),
 ('WASHINGTON', 12),
 ('WEST VIRGINIA', 5),
 ('WISCONSIN', 10),
 ('WYOMING', 3)]

### Merging the Datasets

In [ ]:
#join the two tables and put the resulting table as a view called joined
# Change the state 'District of Columbia' to 'D.C'
%%sql 
CREATE VIEW 
joined
AS
SELECT replace(population_by_state.State, 'DISTRICT OF COLUMBIA', 'D.C') as State, Population,grand_electors.GrandElectors
FROM population_by_state 
INNER JOIN grand_electors 
ON  grand_electors.State = population_by_state.State;

 * sqlite://
Done.

[]

In [ ]:
# Display the joined table
%%sql
SELECT * from joined;

 * sqlite://
Done.

[('CALIFORNIA', 39144818, 55),
 ('TEXAS', 27469114, 38),
 ('FLORIDA', 20271272, 29),
 ('NEW YORK', 19795791, 29),
 ('ILLINOIS', 12859995, 20),
 ('PENNSYLVANIA', 12802503, 20),
 ('OHIO', 11613423, 18),
 ('GEORGIA', 10214860, 16),
 ('NORTH CAROLINA', 10042802, 15),
 ('MICHIGAN', 9922576, 16),
 ('NEW JERSEY', 8958013, 14),
 ('VIRGINIA', 8382993, 13),
 ('WASHINGTON', 7170351, 12),
 ('ARIZONA', 6828065, 11),
 ('MASSACHUSETTS', 6794422, 11),
 ('INDIANA', 6619680, 11),
 ('TENNESSEE', 6600299, 11),
 ('MISSOURI', 6083672, 10),
 ('MARYLAND', 6006401, 10),
 ('WISCONSIN', 5771337, 10),
 ('MINNESOTA', 5489594, 10),
 ('COLORADO', 5456574, 9),
 ('SOUTH CAROLINA', 4896146, 9),
 ('ALABAMA', 4858979, 9),
 ('LOUISIANA', 4670724, 8),
 ('KENTUCKY', 4425092, 8),
 ('OREGON', 4028977, 7),
 ('OKLAHOMA', 3911338, 7),
 ('CONNECTICUT', 3590886, 7),
 ('IOWA', 3123899, 6),
 ('UTAH', 2995919, 6),
 ('MISSISSIPPI', 2992333, 6),
 ('ARKANSAS', 2978204, 6),
 ('KANSAS', 2911641, 6),
 ('NEVADA', 2890845, 6),
 ('NEW MEXICO', 2085109, 5),
 ('NEBRASKA', 1896190, 5),
 ('WEST VIRGINIA', 1844128, 5),
 ('IDAHO', 1654930, 4),
 ('HAWAII', 1431603, 4),
 ('NEW HAMPSHIRE', 1330608, 4),
 ('MAINE', 1329328, 4),
 ('RHODE ISLAND', 1056298, 4),
 ('MONTANA', 1032949, 3),
 ('DELAWARE', 945934, 3),
 ('SOUTH DAKOTA', 858469, 3),
 ('NORTH DAKOTA', 756927, 3),
 ('ALASKA', 738432, 3),
 ('D.C', 672228, 3),
 ('VERMONT', 626042, 3),
 ('WYOMING', 586107, 3)]

### Ratio Calculation

In [ ]:
#create a view that will hold a table that has grand electors per capita ordered in descending order
%%sql
CREATE VIEW 
Ratios
AS
SELECT State, Population, GrandElectors, (GrandElectors *1.0/Population * 1.0) as Ratio 
from joined
ORDER BY Ratio DESC;

 * sqlite://
Done.

[]

In [ ]:
#Display the newly created view with the ordered ratio of grand electors per capita
%%sql 
SELECT * from Ratios LIMIT 5;

 * sqlite://
Done.

[('WYOMING', 586107, 3, 5.118519314732634e-06),
 ('VERMONT', 626042, 3, 4.792010759661493e-06),
 ('D.C', 672228, 3, 4.462771559649405e-06),
 ('ALASKA', 738432, 3, 4.0626625065002604e-06),
 ('NORTH DAKOTA', 756927, 3, 3.963394092164766e-06)]

### Computing the Running Sum of Grand Electors

In [ ]:
# Calculating running sum for the grand electors
%%sql 
CREATE VIEW 
Sum 
AS
SELECT t1.*, sum(t2.GrandELectors) as RunningSum
from Ratios t1
INNER JOIN Ratios t2 on t1.Ratio <= t2.Ratio
GROUP BY t1.State
ORDER BY t1.Ratio ASC;

 * sqlite://
Done.

[]

In [ ]:
# Display the table with the running sum
%%sql
SELECT * from Sum;

 * sqlite://
Done.

[('TEXAS', 27469114, 38, 1.3833718845099992e-06, 538),
 ('CALIFORNIA', 39144818, 55, 1.4050391037710278e-06, 500),
 ('FLORIDA', 20271272, 29, 1.4305959685213637e-06, 445),
 ('NEW YORK', 19795791, 29, 1.4649578791774474e-06, 416),
 ('NORTH CAROLINA', 10042802, 15, 1.4936070630487388e-06, 387),
 ('OHIO', 11613423, 18, 1.5499306276883225e-06, 372),
 ('VIRGINIA', 8382993, 13, 1.5507587803067473e-06, 354),
 ('ILLINOIS', 12859995, 20, 1.5552105580134362e-06, 341),
 ('PENNSYLVANIA', 12802503, 20, 1.562194517743913e-06, 321),
 ('NEW JERSEY', 8958013, 14, 1.562846582160575e-06, 301),
 ('GEORGIA', 10214860, 16, 1.566345500574653e-06, 287),
 ('ARIZONA', 6828065, 11, 1.610998137832607e-06, 271),
 ('MICHIGAN', 9922576, 16, 1.6124844999927438e-06, 260),
 ('MASSACHUSETTS', 6794422, 11, 1.6189750945702225e-06, 244),
 ('MISSOURI', 6083672, 10, 1.6437441071773757e-06, 233),
 ('COLORADO', 5456574, 9, 1.6493865931260165e-06, 223),
 ('INDIANA', 6619680, 11, 1.6617117443743504e-06, 214),
 ('MARYLAND', 6006401, 10, 1.6648905059785385e-06, 203),
 ('TENNESSEE', 6600299, 11, 1.6665911650366142e-06, 193),
 ('WASHINGTON', 7170351, 12, 1.673558240035948e-06, 182),
 ('LOUISIANA', 4670724, 8, 1.712796560019389e-06, 170),
 ('WISCONSIN', 5771337, 10, 1.7327007589402595e-06, 162),
 ('OREGON', 4028977, 7, 1.7374137405103083e-06, 152),
 ('OKLAHOMA', 3911338, 7, 1.7896689061390246e-06, 145),
 ('KENTUCKY', 4425092, 8, 1.8078720171241637e-06, 138),
 ('MINNESOTA', 5489594, 10, 1.8216283389992047e-06, 130),
 ('SOUTH CAROLINA', 4896146, 9, 1.8381804790951905e-06, 120),
 ('ALABAMA', 4858979, 9, 1.8522409749043987e-06, 111),
 ('IOWA', 3123899, 6, 1.9206766928124116e-06, 102),
 ('CONNECTICUT', 3590886, 7, 1.949379623858847e-06, 96),
 ('UTAH', 2995919, 6, 2.0027243727216926e-06, 89),
 ('MISSISSIPPI', 2992333, 6, 2.00512442966742e-06, 83),
 ('ARKANSAS', 2978204, 6, 2.0146370094190997e-06, 77),
 ('KANSAS', 2911641, 6, 2.0606936088618066e-06, 71),
 ('NEVADA', 2890845, 6, 2.0755177119492743e-06, 65),
 ('NEW MEXICO', 2085109, 5, 2.3979561739937817e-06, 59),
 ('IDAHO', 1654930, 4, 2.417020659484087e-06, 54),
 ('NEBRASKA', 1896190, 5, 2.636866558730929e-06, 50),
 ('WEST VIRGINIA', 1844128, 5, 2.7113085425740512e-06, 45),
 ('HAWAII', 1431603, 4, 2.794070702562093e-06, 40),
 ('MONTANA', 1032949, 3, 2.904306020916812e-06, 36),
 ('NEW HAMPSHIRE', 1330608, 4, 3.0061445594795764e-06, 33),
 ('MAINE', 1329328, 4, 3.009039153617467e-06, 29),
 ('DELAWARE', 945934, 3, 3.1714686225466047e-06, 25),
 ('SOUTH DAKOTA', 858469, 3, 3.4945932817609025e-06, 22),
 ('RHODE ISLAND', 1056298, 4, 3.7868101615263876e-06, 19),
 ('NORTH DAKOTA', 756927, 3, 3.963394092164766e-06, 15),
 ('ALASKA', 738432, 3, 4.0626625065002604e-06, 12),
 ('D.C', 672228, 3, 4.462771559649405e-06, 9),
 ('VERMONT', 626042, 3, 4.792010759661493e-06, 6),
 ('WYOMING', 586107, 3, 5.118519314732634e-06, 3)]

In [ ]:
# Filter out the states that have a running sum of 269 +1 
%%sql 
SELECT Sum.State from Sum 
WHERE RunningSum <= 271
ORDER BY Sum.Ratio DESC;

 * sqlite://
Done.

[('WYOMING',),
 ('VERMONT',),
 ('D.C',),
 ('ALASKA',),
 ('NORTH DAKOTA',),
 ('RHODE ISLAND',),
 ('SOUTH DAKOTA',),
 ('DELAWARE',),
 ('MAINE',),
 ('NEW HAMPSHIRE',),
 ('MONTANA',),
 ('HAWAII',),
 ('WEST VIRGINIA',),
 ('NEBRASKA',),
 ('IDAHO',),
 ('NEW MEXICO',),
 ('NEVADA',),
 ('KANSAS',),
 ('ARKANSAS',),
 ('MISSISSIPPI',),
 ('UTAH',),
 ('CONNECTICUT',),
 ('IOWA',),
 ('ALABAMA',),
 ('SOUTH CAROLINA',),
 ('MINNESOTA',),
 ('KENTUCKY',),
 ('OKLAHOMA',),
 ('OREGON',),
 ('WISCONSIN',),
 ('LOUISIANA',),
 ('WASHINGTON',),
 ('TENNESSEE',),
 ('MARYLAND',),
 ('INDIANA',),
 ('COLORADO',),
 ('MISSOURI',),
 ('MASSACHUSETTS',),
 ('MICHIGAN',),
 ('ARIZONA',)]

### Recommendation

After conduncting the anylysis, we recommend that a candidate should priotise the states that are filtered above. This is because the running some of their grand electors total to more that than half of all the grand electors in the country. This would not only increase their chance of winning the general election but it would also increase their return on investement of the entire campaign.